{% extends "master.html" %}

{% block title %}Forgot Password?{% endblock %}

{% block body %}

    <form action = "{{ url_for('forgot_password') }}" method=post>
        
        Email:
        <input type = "text" name = "email">
        
        <button type="submit">Reset Password</button>

    </form>

    <main>
        
        {{error_message}}
        
    </main>
    

{% endblock %}

{% block footer %}

    <p>
        <a href = "{{ url_for('index') }}"> Back to Login</a><br>
    </p>

{% endblock %}