{% extends "master.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}

    <form action = "{{ url_for('reset_password', user_id = user_id) }}" method=post>

        Reset password for: {{username}}<br>
        
        New Password:
        <input type="password" name="password"> <br>

        Enter New Password Again:
        <input type="password" name="password2"> <br>
        
        <button type="submit">Reset Password</button>

    </form>
    
    <main>
        
        {{error_message}}
        
    </main>

    


{% endblock %}

{% block footer %}

    <p>
        <a href = "{{ url_for('index') }}"> Back to Login</a><br>
    </p>

{% endblock %}